@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
  /* Neutral Color */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--Almost-White); */
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}

/* Utility */
a {
  text-decoration: none;
  color: var(--Medium-Gray);
}

li {
  list-style: none;
}

/* NavBar */
.navbar {
  display: flex;
  /* background-color: var(--Almost-White); */
  padding: 1 0 0 1.4rem;
  margin-left: 160px;
}

.nav-items {
  display: flex;
  margin: 2rem 1.2rem 0;
}
.navbar > .nav-items:nth-child(5) {
  margin-left: auto;
}

.logo {
  margin: 1.7rem 1.4rem;
}
#home-logo a {
  position: absolute;
  z-index: 2;
  top: -1.5rem;
  left: 0.1rem;
}

/* submenu */
.nav-items {
  position: relative;
}

.nav-items a:hover {
  color: var(--Almost-Black);
  cursor: pointer;
}

.sub-menu {
  position: absolute;
  display: none;
  /* opacity: 0; */
  min-width: 140px;
  /* background-color: var(--Almost-White); */
  border-radius: 10px;
  box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
  padding: 1rem;
  margin: 1rem 0 0 -2rem;
}

.sub-menu a {
  float: none;
  display: block;
  padding: 0.5rem;
  text-align: left;
  /* background-color: #fff; */
}

.sub-menu img {
  margin-right: 10px;
}

.feature {
  margin: 2.4rem 0 0 -4.5rem;
}

.company {
  min-width: 100px;
  margin: 2.4rem 0 0 0.1rem;
}

.show {
  display: block;
}

/* login btn */
.btn-container{
 margin-top: 0;
}
.btn {
  margin: 2rem 1rem;
}
/* color: var(--Medium-Gray); */
/* outline: none; */
/* border: none; */
/* background: none; */

.register-btn {
  border: solid 2px var(--Medium-Gray);
  padding:.5rem 2rem;
  margin-top: 1.2rem;
  border-radius: 10px;
}

.btn:hover {
  color: var(--Almost-Black);
}

@media screen and (max-width: 790px) {
  /* .navbar a:not(:first-child), .nav-items {
    display: none;
  } */
  .body {
    background-color: rgba(0, 0, 0, 0.44);
  }
  .navbar {
    float: right;
    position: fixed;
    width: 54vw;
    height: 100vh;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding: 0;
    color: #fff;
    box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 1px -3px 32px -7px rgba(0, 0, 0, 0.44);
    transform: translateX(-100vw);
    display: flex;
    flex-direction: column;
  }
  .overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0vw);
  }
  .overlay-slide-left {
    width: 0;
    transition: all 0.8s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(100vw);
  }
  .rotate{

  }
  /* --- Menu Bars ------------------------------------ */

  .menu-bars {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #000;
    margin: 8px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .navbar {
    padding-top: 4rem;
  }
  .navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .navbar a:hover {
    color: #000;
  }

  .sub-menu {
    /* display: block; */
    position: relative;
    box-shadow:none;
  }
  .feature {
    /* transition: 1.8s ease-in-out; */
      transition: all 0.8s ease-in-out;
    margin: 2rem -7rem 0;
  }
  
  .company {
    /* min-width: 100px; */
    margin: 2rem -6rem 0;
    /* margin: 3rem 0 0 0.1rem; */
  }
  .btn-container {
    display: block;
  }
  .navbar > .nav-items:nth-child(5) {
    margin-right: 7rem;
    width:210px;
    text-align: center;
  }
  .btn{
    margin-top:1.5rem;

  }
}
